* {
    box-sizing: border-box;
}

#movieTitles, #nearbyRestaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
}

.movieDIV, .restDIV {
    display: flex;
    margin-top: 10px;
    background-color: ghostwhite;
}